

      <div class="clearfix wrapper dk nav-user hidden-xs">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <figure class="thumb avatar pull-left m-r">
              <img src="assets/images/profile/a0.jpg" pauloclass="dker">
              <i class="on md b-black"></i>
            </figure>
            <span class="hidden-nav-xs clear">
              <span class="block m-t-xs">
                <strong class="text-lt">Paulo</strong> <i class="fa fa-caret-down"></i>
              </span>
              <span class="text-muted text-xs block">Arquiteto F. CGMOI</span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeIn m-t-xs">
            <li>
              <span class="arrow top hidden-nav-xs"></span>
            </li>
            <li>
              <a href="#">Perfil</a>
            </li>
            <li>
              <a href="#">
                <span class="badge bg-danger pull-right">3</span>
                Notificações
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Configurações</a>
            </li>
          </ul>
        </div>
      </div>


      <nav class="nav-primary hidden-xs">
        <div class="text-muted text-sm hidden-nav-xs padder-h m-t-sm m-b-sm">Navegação</div>
        <ul class="nav nav-main" data-ride="collapse">
          <!--
          <li>
            <a href="#" class="auto">
              <span class="pull-right text-muted">
                <i class="i i-circle-sm-o text-inactive"></i>
                <i class="i i-circle-sm text-active"></i>
              </span>
              <i class="i i-stack icon"></i>
              <strong>Documentos</strong>
            </a>
            <ul class="nav dk">
              <li>
                <a href="introducao.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Introdução</span>
                </a>
              </li>
              <li>
                <a href="requisitos-usabilidade.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Requisitos de Usabilidade</span>
                </a>
              </li>
              <li>
                <a href="padrao-interface.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Padrão de Interface</span>
                </a>
              </li>
              <li>
                <a href="navegabilidade.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Navegabilidade</span>
                </a>
              </li>
              <li>
                <a href="funcionalidade-tela.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Funcionalidade de Tela</span>
                </a>
              </li>
              <li>
                <a href="acessibilidade.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Acessibilidade</span>
                </a>
              </li>
              <li>
                <a href="padroes-construcao.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Padrões de Construção</span>
                </a>
              </li>
              <li>
                <a href="restricoes.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Restrições</span>
                </a>
              </li>
              <li>
                <a href="mobile.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Mobile</span>
                </a>
              </li>
              <li>
                <a href="relatorio-incidentes.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Relatório de Incidentes</span>
                </a>
              </li>
            </ul>

          </li> -->
          <li class="active">
            <a href="#" class="auto">
              <span class="pull-right text-muted">
                <i class="i i-circle-sm-o text-inactive"></i>
                <i class="i i-circle-sm text-active"></i>
              </span>
              <b class="badge bg-danger pull-right">19</b>
              <i class="i i-docs icon"></i>
              <strong>Modelos de Tela</strong>
            </a>
            <ul class="nav dk">
              <li> <!--class="active"-->
                <a href="/" class="auto">
                  <i class="i i-dot"></i>
                  <span>Painel Gerencial</span>
                </a>
              </li>

              <li>
                <a class="auto">
                  <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                  </span>
                  <i class="i i-dot"></i>
                  <span>Telas de Cadastro</span>
                </a>
                <ul class="nav dker">
                  <li>
                    <a routerLink="cadastro-basico" class="auto">
                      <i class="i i-dot"></i>
                      <span>Cadastro Básico</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="cadastro-abas" class="auto">
                      <i class="i i-dot"></i>
                      <span>Cadastro com Abas</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="cadastro-modal" class="auto">
                      <i class="i i-dot"></i>
                      <span>Cadastro Modal</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="cadastro-wizard" class="auto">
                      <i class="i i-dot"></i>
                      <span>Cadastro Wizard</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li>
                <a class="auto">
                  <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                  </span>
                  <i class="i i-dot"></i>
                  <span>Telas de Alteração</span>
                </a>
                <ul class="nav dker">
                  <li>
                    <a routerLink="alterar-basico" class="auto">
                      <i class="i i-dot"></i>
                      <span>Alterar Básico</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="alterar-abas" class="auto">
                      <i class="i i-dot"></i>
                      <span>Alterar com Abas</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="alterar-modal" class="auto">
                      <i class="i i-dot"></i>
                      <span>Alterar com Modal</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="alterar-wizard" class="auto">
                      <i class="i i-dot"></i>
                      <span>Alterar com Wizard</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!--
              <li>
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                  </span>
                  <i class="i i-dot"></i>
                  <span>Telas Filho</span>
                </a>
                <ul class="nav dker">
                  <li>
                    <a href="filho-basico.html" class="auto">
                      <i class="i i-dot"></i>
                      <span>Tela Filho Básica</span>
                    </a>
                  </li>
                  <li>
                    <a href="filho-abas.html" class="auto">
                      <i class="i i-dot"></i>
                      <span>Tela Filho com Abas</span>
                    </a>
                  </li>
                  <li>
                    <a href="filho-wizard.html" class="auto">
                      <i class="i i-dot"></i>
                      <span>Tela Filho com Wizard</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="visualizar.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Visualizar Cadastro</span>
                </a>
              </li>
              <li>
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                  </span>
                  <i class="i i-dot"></i>
                  <span>Exemplos</span>
                </a>
                <ul class="nav dker">
                  <li>
                    <a href="crud.html" class="auto">
                      <i class="i i-dot"></i>
                      <span>CRUD</span>
                    </a>
                  </li>
                  <li>
                    <a href="crud-ordenacao.html" class="auto">
                      <i class="i i-dot"></i>
                      <span>CRUD com Ordenação</span>
                    </a>
                  </li>
                  <li>
                    <a href="relatorio.html" class="auto">
                      <i class="i i-dot"></i>
                      <span>Relatório</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                  </span>
                  <i class="i i-dot"></i>
                  <span>Controle de Acesso</span>
                </a>
                <ul class="nav dker">
                  <li>
                    <a href="cadastro-perfil.html" class="auto">
                      <i class="i i-dot"></i>
                      <span>Cadastro de Perfil</span>
                    </a>
                  </li>
                  <li>
                    <a href="cadastro-perfil-arvore.html" class="auto">
                      <i class="i i-dot"></i>
                      <span>Cadastro de Perfil Árvore</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="resultado-pesquisa.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Resultado da Pesquisa</span>
                </a>
              </li>
              <li>
                <a href="pesquisa-avancada.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Pesquisa Avançada</span>
                </a>
              </li>
              <li>
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                  </span>
                  <i class="i i-dot"></i>
                  <span>Extras</span>
                </a>
                <ul class="nav dker">
                  <li>
                    <a href="404.html" class="auto">
                      <i class="i i-dot"></i>
                      <span>Erro 404</span>
                    </a>
                  </li>
                  <li>
                    <a href="bloqueio-tela.html" class="auto">
                      <i class="i i-dot"></i>
                      <span>Bloqueio de Tela</span>
                    </a>
                  </li>
                </ul>
              </li>
            -->
            </ul>

          </li>

          <!--
          <li>
            <a href="#" class="auto">
              <span class="pull-right text-muted">
                <i class="i i-circle-sm-o text-inactive"></i>
                <i class="i i-circle-sm text-active"></i>
              </span>
              <i class="i i-lab icon"></i>
              <strong>Elementos</strong>
            </a>
            <ul class="nav dk">
              <li>
                <a href="tipografia.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Tipografia</span>
                </a>
              </li>
              <li>
                <a href="botoes.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Botões</span>
                </a>
              </li>
              <li>
                <a href="paineis.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Painéis</span>
                </a>
              </li>
              <li>
                <a href="utilitarios.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Utilitários</span>
                </a>
              </li>
              <li>
                <a href="mensagens.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Mensagens</span>
                </a>
              </li>
              <li>
                <a href="icones.html" class="auto">
                  <b class="badge bg-info pull-right">369</b>
                  <i class="i i-dot"></i>
                  <span>Ícones</span>
                </a>
              </li>
              <li>
                <a href="grid.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Grid</span>
                </a>
              </li>
              <li>
                <a href="widgets.html" class="auto">
                  <b class="badge bg-dark pull-right">14</b>
                  <i class="i i-dot"></i>
                  <span>Widgets</span>
                </a>
              </li>
              <li>
                <a href="componentes.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Componentes</span>
                </a>
              </li>
              <li>
                <a href="grupo-lista.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Grupo de Lista</span>
                </a>
              </li>
              <li>
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                  </span>
                  <i class="i i-dot"></i>
                  <span>Tabela</span>
                </a>
                <ul class="nav dker">
                  <li>
                    <a href="tabela-estatica.html">
                      <i class="i i-dot"></i>
                      <span>Tabela Estática</span>
                    </a>
                  </li>
                  <li>
                    <a href="tabela-dinamica.html">
                      <i class="i i-dot"></i>
                      <span>Tabela Dinâmica</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="i i-circle-sm-o text-inactive"></i>
                    <i class="i i-circle-sm text-active"></i>
                  </span>
                  <i class="i i-dot"></i>
                  <span>Formulário</span>
                </a>
                <ul class="nav dker">
                  <li>
                    <a href="formulario-elementos.html">
                      <i class="i i-dot"></i>
                      <span>Formulário Elementos</span>
                    </a>
                  </li>
                  <li>
                    <a href="formulario-validacao.html">
                      <i class="i i-dot"></i>
                      <span>Formulário Validação</span>
                    </a>
                  </li>
                  <li>
                    <a href="formulario-wizard.html">
                      <i class="i i-dot"></i>
                      <span>Formulário Wizard</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="grafico.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Gráfico</span>
                </a>
              </li>
              <li>
                <a href="portlet.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Portlet</span>
                </a>
              </li>
              <li>
                <a href="linha-tempo.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Linha do Tempo</span>
                </a>
              </li>
              <li>
                <a href="plugins.html" class="auto">
                  <i class="i i-dot"></i>
                  <span>Plug-ins</span>
                </a>
              </li>
            </ul>

          </li>
        -->


        </ul>
        <div class="line dk hidden-nav-xs"></div>
        <!--
        <div class="text-muted text-xs hidden-nav-xs padder-h m-t-sm m-b-sm">
          Acesso Rápido
          <div class="pull-right">
            <a href="#" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Itens mais acessados"><i class="fa fa-question-circle-circle"></i></a>
          </div>
        </div>

        <ul class="nav">
          <li>
            <a href="requisitos-usabilidade.html">
              <i class="i i-circle-sm text-info-dk"></i>
              <span>Requisitos de Usabilidade</span>
            </a>
          </li>
          <li>
            <a href="padrao-interface.html">
              <i class="i i-circle-sm text-success-dk"></i>
              <span>Padrão de Interface</span>
            </a>
          </li>
          <li>
            <a href="funcionalidade-tela.html">
              <i class="i i-circle-sm text-danger-dk"></i>
              <span>Funcionalidade de Tela</span>
            </a>
          </li>
        </ul>

        -->

      </nav>


