<footer class="footer-bottom footer-fixed bg-white b-t">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <p class="m-n">&copy; 2018 SUFRAMA <span class="hidden-xs">- Superintendência da Zona Franca de Manaus</span></p>
            </div>
            <div class="col-xs-3 text-right">
                <ul class="list-inline m-b-none">
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</footer>