<main class="entry-content" role="main">
        <div class="container">
          <div class="row animated fadeInUp">
            
      <div class="col-md-4 col-md-offset-4">
        <section class="login-content">
          <div class="text-center">
            <figure>
              <img src="assets/images/logo-lg.png" alt="SUFRAMA">
            </figure>      
          </div>
          <section class="panel panel-default">
            <header class="panel-heading text-center">
              <h2 class="panel-title h5">Lista de Sistemas</h2>
            </header>
            <article class="panel-body">
              <div class="list-quickaccess">
                <div class="row text-center">
                  <div class="col-xs-4">
        <a href="#" class="padder-v active" (click)="click()" >
          <span class="m-b-xs block">
            <i class="i i-book i-2x text-primary-lt"></i>
          </span>
          <small class="text-muted">PMN</small>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" class="padder-v" (click)="click()">
          <span class="m-b-xs block">
            <i class="i i-users2 i-2x text-danger-lt"></i>
          </span>
          <small class="text-muted">SEG</small>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" class="padder-v" (click)="click()">
          <span class="m-b-xs block">
            <i class="i i-rating3 i-2x text-success-lt"></i>
          </span>
          <small class="text-muted">ESTRANGEIRO</small>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" class="padder-v" (click)="click()">
          <span class="m-b-xs block">
            <i class="i i-data2 i-2x text-info-lt"></i>
          </span>
          <small class="text-muted">SAGAT</small>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" class="padder-v" (click)="click()">
          <span class="m-b-xs block">
            <i class="i i-map2 i-2x text-muted"></i>
          </span>
          <small class="text-muted">SISPEX</small>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" class="padder-v" (click)="click()">
          <span class="m-b-xs block">
            <i class="i i-vcard i-2x text-warning-lter"></i>
          </span>
          <small class="text-muted">CADASTRO</small>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" class="padder-v" (click)="click()">
          <span class="m-b-xs block">
            <i class="i i-stats i-2x text-danger-lter"></i>
          </span>
          <small class="text-muted">SAD</small>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" class="padder-v" (click)="click()">
          <span class="m-b-xs block">
            <i class="i i-layer2 i-2x text-info-lter"></i>
          </span>
          <small class="text-muted">SISREPRO</small>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" class="padder-v" (click)="click()">
          <span class="m-b-xs block">
            <i class="i i-chat2 i-2x text-primary-lter"></i>
          </span>
          <small class="text-muted">ARREGACAÇÃO</small>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" class="padder-v" (click)="click()">
          <span class="m-b-xs block">
            <i class="i i-study i-2x text-success-lter"></i>
          </span>
          <small class="text-muted">AVALIAÇÃO</small>
        </a>
      </div>
      
                </div>
              </div>
            </article>
            <ul class="list-group">
              
              <li class="list-group-item text-right">
                <a href="#" (click)="logoff()"><i class="fa fa-sign-out"></i> Sair</a>
              </li>
            </ul>
          </section>
        </section>
      </div>
      
          </div>
        </div>
      </main>