<div class="row m-b-md">
        <div class="col-sm-6">
          <h1 class="m-b-xs text-black">Painel Gerencial</h1>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="row">
            <div class="col-sm-6">
              <div class="panel b-a m-n">
                <div class="row m-n">
                  <div class="col-md-6 b-b b-r no-padder">
                    <a href="#" class="block padder hover">
                      <span class="i-s i-s-2x pull-left m-r-sm">
                        <i class="i i-hexagon2 i-s-base text-danger hover-rotate"></i>
                        <i class="i i-plus2 i-1x text-white"></i>
                      </span>
                      <div class="clear">
                        <span class="h3 block m-t-sm m-b-none text-danger">120</span>
                        <small class="text-muted text-u-c">Usuários On-line</small>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 b-b no-padder">
                    <a href="#" class="block padder hover">
                      <span class="i-s i-s-2x pull-left m-r-sm">
                        <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                        <i class="i i-users2 i-sm text-white"></i>
                      </span>
                      <div class="clear">
                        <span class="h3 block m-t-sm m-b-none text-success">75%</span>
                        <small class="text-muted text-u-c">Processamento</small>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 b-r no-padder">
                    <a href="#" class="block padder hover">
                      <span class="i-s i-s-2x pull-left m-r-sm">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="i i-stats i-sm text-white"></i>
                      </span>
                      <div class="clear">
                        <span class="h3 block m-t-sm m-b-none text-info">12</span>
                        <small class="text-muted text-u-c">Relatórios</small>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 no-padder">
                    <a href="#" class="block padder hover">
                      <span class="i-s i-s-2x pull-left m-r-sm">
                        <i class="i i-hexagon2 i-s-base text-primary hover-rotate"></i>
                        <i class="i i-alarm i-sm text-white"></i>
                      </span>
                      <div class="clear">
                        <span class="h3 block m-t-sm m-b-none text-primary">9:30</span>
                        <small class="text-muted text-u-c">Próxima reunião</small>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-3 col-sm-6">
              <div class="panel b-a">
                <header class="panel-heading no-border bg-warning lt text-center">
                  <a href="#">
                    <i class="i i-graph i-3x m-t m-b text-white"></i>
                  </a>
                </header>
                <div class="padder-v text-center clearfix">
                  <div class="col-xs-6 b-r">
                    <span class="h3 block m-t-xs m-b-none"><strong>1.202</strong></span>
                    <small class="text-muted">Registros</small>
                  </div>
                  <div class="col-xs-6">
                    <span class="h3 block m-t-xs m-b-none"><strong>230</strong></span>
                    <small class="text-muted">Horas</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="panel b-a m-n">
                <header class="panel-heading no-border bg-danger lter text-center">
                  <a href="#">
                    <i class="i i-stack i-3x m-t m-b text-white"></i>
                  </a>
                </header>
                <div class="padder-v text-center clearfix">
                  <div class="col-xs-6 b-r">
                    <span class="h3 block m-t-xs m-b-none"><strong>983</strong></span>
                    <small class="text-muted">Processos</small>
                  </div>
                  <div class="col-xs-6">
                    <span class="h3 block m-t-xs m-b-none"><strong>31</strong></span>
                    <small class="text-muted">Pessoas</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row bg-light dk m-b">
            <div class="col-md-6 dker clearfix">
              <section>
                <header>
                  <div class="pull-right">
                    <div class="btn-group">
                      <button data-toggle="dropdown" class="btn btn-sm btn-rounded btn-default dropdown-toggle">
                        <span class="dropdown-label">Semana</span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-select">
                        <li>
                          <a href="#"><input type="radio" name="radio[statistics]" value="1">Mês</a>
                        </li>
                        <li>
                          <a href="#"><input type="radio" name="radio[statistics]" value="2" checked="">Semana</a>
                        </li>
                        <li>
                          <a href="#"><input type="radio" name="radio[statistics]" value="3">Dia</a>
                        </li>
                      </ul>
                    </div>
                    <a href="#" class="btn btn-default btn-icon btn-rounded btn-sm">Ir</a>
                  </div>
                  <h4>Estatísticas</h4>
                </header>
                <article class="panel-body">
                  <div id="flot-sp1ine" style="height: 210px; padding: 0px; position: relative;"><canvas class="flot-base"
                      width="615" height="210"
                      style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 615px; height: 210px;"></canvas>
                    <div class="flot-text"
                      style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                      <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                        style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 68px; top: 193px; left: 16px; text-align: center;">
                          0</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 68px; top: 193px; left: 89px; text-align: center;">
                          2</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 68px; top: 193px; left: 163px; text-align: center;">
                          4</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 68px; top: 193px; left: 236px; text-align: center;">
                          6</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 68px; top: 193px; left: 310px; text-align: center;">
                          8</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 68px; top: 193px; left: 381px; text-align: center;">
                          10</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 68px; top: 193px; left: 454px; text-align: center;">
                          12</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 68px; top: 193px; left: 528px; text-align: center;">
                          14</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 68px; top: 193px; left: 602px; text-align: center;">
                          16</div>
                      </div>
                      <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                        style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 180px; left: 7px; text-align: right;">0</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 150px; left: 1px; text-align: right;">10</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 120px; left: 1px; text-align: right;">20</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 90px; left: 1px; text-align: right;">30</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 60px; left: 1px; text-align: right;">40</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 30px; left: 1px; text-align: right;">50</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 0px; left: 1px; text-align: right;">60</div>
                      </div>
                    </div><canvas class="flot-overlay" width="615" height="210"
                      style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 615px; height: 210px;"></canvas>
                  </div>
                </article>
                <footer>
                  <div class="row text-center no-gutter">
                    <div class="col-xs-3">
                      <h4 class="m-b-none"><strong>5.860</strong></h4>
                      <small class="text-muted m-b block">Usuários</small>
                    </div>
                    <div class="col-xs-3">
                      <h4 class="m-b-none"><strong>10.450</strong></h4>
                      <small class="text-muted m-b block">Chamados</small>
                    </div>
                    <div class="col-xs-3">
                      <h4 class="m-b-none"><strong>21.230</strong></h4>
                      <small class="text-muted m-b block">Relatórios</small>
                    </div>
                    <div class="col-xs-3">
                      <h4 class="m-b-none"><strong>58</strong></h4>
                      <small class="text-muted m-b block">Projetos</small>
                    </div>
                  </div>
                </footer>
              </section>
            </div>
            <div class="col-md-6">
              <section>
                <header>
                  <div class="pull-right">
                    <div class="btn-group">
                      <button data-toggle="dropdown" class="btn btn-sm btn-rounded btn-default dropdown-toggle">
                        <span class="dropdown-label">Últimas 24 horas</span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-select">
                        <li>
                          <a href="#"><input type="radio" name="radio[analysis]" value="1">Hoje</a>
                        </li>
                        <li>
                          <a href="#"><input type="radio" name="radio[analysis]" value="2">Ontem</a>
                        </li>
                        <li>
                          <a href="#"><input type="radio" name="radio[analysis]" value="3" checked="">Últimas 24
                            horas</a>
                        </li>
                        <li>
                          <a href="#"><input type="radio" name="radio[analysis]" value="4">Últimos 7 dias</a>
                        </li>
                        <li>
                          <a href="#"><input type="radio" name="radio[analysis]" value="5">Últimos 30 dias</a>
                        </li>
                        <li>
                          <a href="#"><input type="radio" name="radio[analysis]" value="6">Mês passado</a>
                        </li>
                        <li>
                          <a href="#"><input type="radio" name="radio[analysis]" value="7">Todos os tempos</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h4>Análise</h4>
                </header>
                <article class="panel-body flot-legend">
                  <div id="flot-pie-donut" style="height: 240px; padding: 0px; position: relative;"><canvas class="flot-base"
                      width="615" height="240"
                      style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 615px; height: 240px;"></canvas><canvas
                      class="flot-overlay" width="615" height="240"
                      style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 615px; height: 240px;"></canvas>
                    <div class="legend">
                      <div
                        style="position: absolute; width: 110px; height: 110px; top: 5px; right: 5px; background-color: rgb(255, 255, 255); opacity: 0.85;">
                      </div>
                      <table style="position:absolute;top:5px;right:5px;;font-size:smaller;color:#545454">
                        <tbody>
                          <tr>
                            <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                <div style="width:4px;height:0;border:5px solid rgb(101,181,194);overflow:hidden">
                                </div>
                              </div>
                            </td>
                            <td class="legendLabel">iPhone5S</td>
                          </tr>
                          <tr>
                            <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                <div style="width:4px;height:0;border:5px solid rgb(77,167,193);overflow:hidden">
                                </div>
                              </div>
                            </td>
                            <td class="legendLabel">iPad Mini</td>
                          </tr>
                          <tr>
                            <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                <div style="width:4px;height:0;border:5px solid rgb(57,147,187);overflow:hidden">
                                </div>
                              </div>
                            </td>
                            <td class="legendLabel">iPad Mini Retina</td>
                          </tr>
                          <tr>
                            <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                <div style="width:4px;height:0;border:5px solid rgb(46,123,173);overflow:hidden">
                                </div>
                              </div>
                            </td>
                            <td class="legendLabel">iPhone4S</td>
                          </tr>
                          <tr>
                            <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                <div style="width:4px;height:0;border:5px solid rgb(35,100,158);overflow:hidden">
                                </div>
                              </div>
                            </td>
                            <td class="legendLabel">iPad Air</td>
                          </tr>
                        </tbody>
                      </table>
                    </div><span class="pieLabel" id="pieLabel0" style="position: absolute; top: 71px; left: 332px;">
                      <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(101,181,194);">
                        iPhone5S<br>40%</div>
                    </span><span class="pieLabel" id="pieLabel1" style="position: absolute; top: 207px; left: 262px;">
                      <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(77,167,193);">iPad
                        Mini<br>10%</div>
                    </span><span class="pieLabel" id="pieLabel2" style="position: absolute; top: 192px; left: 149px;">
                      <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(57,147,187);">iPad
                        Mini Retina<br>20%</div>
                    </span><span class="pieLabel" id="pieLabel3" style="position: absolute; top: 97px; left: 121px;">
                      <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(46,123,173);">
                        iPhone4S<br>12%</div>
                    </span><span class="pieLabel" id="pieLabel4" style="position: absolute; top: 13px; left: 175px;">
                      <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(35,100,158);">iPad
                        Air<br>18%</div>
                    </span>
                  </div>
                </article>
              </section>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <section class="panel b-a m-n">
                <header class="panel-heading b-b">
                  <h2 class="panel-title h5">Projetos</h2>
                </header>
                <article class="panel-body">
                  <p>Ab, veritatis, iure, obcaecati tenetur vitae at omnis quae odio eos porro assumenda
                    voluptatem deserunt quibusdam inventore magni a aliquid asperiores veniam.</p>
                  <ul class="list-unstyled list-inline">
                    <li>
                      <a href="#" class="avatar thumb-sm">
                        <img src="assets/images/profile/a0.jpg" alt="Paulo">
                        <i class="on b-white"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="avatar thumb-sm">
                        <img src="assets/images/profile/a1.jpg" alt="André Neves">
                        <i class="busy b-white"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="avatar thumb-sm">
                        <img src="assets/images/profile/a2.jpg" alt="Hudson Neves">
                        <i class="away b-white"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="avatar thumb-sm">
                        <img src="assets/images/profile/a3.jpg" alt="Gabriel Cavalcante">
                        <i class="off b-white"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="btn btn-info btn-rounded"><strong>+10</strong></a>
                    </li>
                  </ul>
                  <p>
                    <small>Início do projeto em março de 2014</small>
                  </p>
                  <a href="#" class="btn btn-default btn-sm btn-rounded m-b-xs"><i class="fa fa-eye"></i>
                    Visualizar Documentação</a>
                </article>
                <footer class="panel-footer">
                  <small class="text-muted pull-right">5m atrás</small>
                  <a href="#">
                    <figure class="thumb-sm pull-left m-r">
                      <img src="assets/images/profile/a0.jpg" alt="Paulo" class="img-circle">
                    </figure>
                    <article>
                      <h5 class="no-margin">Paulo</h5>
                      <small class="block text-muted">Coordenador COINF</small>
                    </article>
                  </a>
                </footer>
              </section>

            </div>
            <div class="col-md-4">
              <section class="panel b-a m-n">
                <header class="panel-heading b-b">
                  <h2 class="panel-title h5">
                    <span class="label bg-success">Novo</span>
                    Mensagens
                    <span class="badge bg-warning pull-right">4</span>
                  </h2>
                </header>
                <article>
                  <ul class="list-group list-group-lg m-b-none no-bg auto">
                    <li class="list-group-item">
                      <a href="#">
                        <figure class="pull-left thumb-sm avatar m-r">
                          <img src="../../../../assets/images/profile/a4.jpg" alt="Daiane Oliveira">
                          <i class="on b-white bottom"></i>
                        </figure>
                        <article>
                          <h5 class="no-margin">Daiane Oliveira</h5>
                          <small class="text-muted text-ellipsis">Nobis, consectetur, veniam cum neque vitae
                            delectus?</small>
                        </article>
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="#">
                        <figure class="pull-left thumb-sm avatar m-r">
                          <img src="assets/images/profile/a5.jpg" alt="Isaias Garcia">
                          <i class="on b-white bottom"></i>
                        </figure>
                        <article>
                          <h5 class="no-margin">Isaias Garcia</h5>
                          <small class="text-muted text-ellipsis">Nam, facilis, perferendis animi nulla ducimus
                            porro. Qui, vero molestias delectus reiciendis.</small>
                        </article>
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="#">
                        <figure class="pull-left thumb-sm avatar m-r">
                          <img src="assets/images/profile/a6.jpg" alt="Gabriel Cavalcante">
                          <i class="busy b-white bottom"></i>
                        </figure>
                        <article>
                          <h5 class="no-margin">Gabriel Cavalcante</h5>
                          <small class="text-muted text-ellipsis">Beatae, unde, voluptates vel neque quidem
                            assumenda.</small>
                        </article>
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="#">
                        <figure class="pull-left thumb-sm avatar m-r">
                          <img src="assets/images/profile/a7.jpg" alt="André Neves">
                          <i class="away b-white bottom"></i>
                        </figure>
                        <article>
                          <h5 class="no-margin">André Neves</h5>
                          <small class="text-muted text-ellipsis">Quibusdam, reprehenderit modi nam ipsa
                            cupiditate nemo.</small>
                        </article>
                      </a>
                    </li>
                  </ul>
                </article>
                <footer class="panel-footer">
                  <div class="input-group">
                    <input type="text" class="form-control input-sm btn-rounded" placeholder="Buscar mensagens anteriores...">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </footer>
              </section>

            </div>
            <div class="col-md-4">
              <section class="panel b-a m-n">
                <header class="panel-heading b-b">
                  <h2 class="panel-title h5">Calendário</h2>
                </header>
                <article class="panel-body no-padder">
                  <div class="bg-light dker m-l-n-xxs m-r-n-xxs calendar" data-url="data/calendar.json"></div>
                </article>
                <footer>
                  <ul class="list-group m-b-none">
                    <li class="list-group-item">
                      <a href="#" class="text-ellipsis">
                        <span class="badge bg-warning">7:30</span>
                        Reunião com a gerencia
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="#" class="text-ellipsis">
                        <span class="badge bg-success">9:30</span>
                        Treinamento agendado sobre novas tecnologias
                      </a>
                    </li>
                  </ul>
                </footer>
              </section>

            </div>
          </div>

        </div>
      </div>
